{% extends "base.html" %} {% block content %}
<div class="container mt-5 about-page">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-4 text-center mb-4">Witamy w Ozdobione!</h1>
      <p class="lead text-center">Profesjonalne dekoracje na każdą okazję</p>
      <div class="about-content">
        <p class="text-justify">
          Jesteśmy firmą specjalizującą się w organizowaniu wystroju wesel i
          imprez okolicznościowych takich jak chrzciny, komunie, urodziny i
          wiele innych. Nasza firma, prowadzona przez Katarzynę Ciebiera, dba o
          każdy detal, aby Twoje wydarzenie było niezapomniane i wyjątkowe.
        </p>
        <p class="text-justify">
          Nasz zespół składa się z doświadczonych dekoratorów, którzy z pasją i
          zaangażowaniem tworzą niepowtarzalne aranżacje. Współpracujemy z
          najlepszymi dostawcami, aby zapewnić najwyższą jakość usług i
          produktów.
        </p>
        <p class="text-justify">
          Zapraszamy do kontaktu i współpracy. Razem stworzymy wyjątkową
          atmosferę na Twojej imprezie!
        </p>
      </div>

      <div class="row mt-5">
        <div class="col-md-6">
          <h2 class="text-center mb-4">Nasza działalność</h2>
          <p class="text-justify">
            Ozdobione to firma, która powstała z pasji do tworzenia pięknych i
            niezapomnianych dekoracji. Nasza oferta obejmuje kompleksową obsługę
            dekoracyjną wszelkiego rodzaju imprez okolicznościowych, w tym
            wesel, chrzcin, komunii, urodzin i wielu innych. Dbamy o każdy
            detal, aby zapewnić naszym klientom wyjątkowe doświadczenia i
            niezapomniane wspomnienia.
          </p>
        </div>
        <div class="col-md-6 text-center">
          <h2 class="text-center mb-4">Główna projektantka</h2>
          <img
            src="https://placehold.co/600x1200"
            alt="Katarzyna Ciebiera"
            class="img-fluid rounded shadow-sm"
            width="600"
            height="1200"
          />
          <p class="mt-3">
            Katarzyna Ciebiera - założycielka i główna projektantka
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
