{% extends "base.html" %} {% block content %} {% load static %} {% load form_filters %} {% load form_extras %}
<div class="container mt-1 form-page">
  <div class="text-center mb-4">
    <h2>Formularz zgłoszeniowy</h2>
    <p>
      Możesz wypełnić formularz na stronie i wysłać go bezpośrednio przez nią,
      lub pobrać formularz w wersji DOCX do wypełnienia na komputerze lub PDF do
      druku i skanu, a następnie wysłać go na nasz adres mailowy:
      <strong>ozdobionedlaciebie@gmail.com</strong>.
    </p>
    <a href="{% static 'files/formularz.docx' %}" class="btn btn-primary me-2">
      Pobierz DOCX
    </a>
    <a href="{% static 'files/formularz.pdf' %}" class="btn btn-secondary">
      Pobierz PDF
    </a>
  </div>
  <div class="text-center">
    <h3>Wypełnij formularz online</h3>
    <form method="get" action="{% url 'contact_form' %}" class="mb-4">
      <div class="mb-3">
        <label for="form_type" class="form-label">Wybierz typ formularza:</label>
        <select id="form_type" name="form_type" class="form-select" onchange="this.form.submit()">
          <option value="">-- Wybierz --</option>
          {% for form_type in form_types %}
          <option value="{{ form_type.id }}" {% if selected_form_type and selected_form_type.id == form_type.id %}selected{% endif %}>{{ form_type.name }}</option>
          {% endfor %}
        </select>
      </div>
    </form>
    {% if form %}
    <form method="post" action="{% url 'contact_form' %}" class="custom-form">
      {% csrf_token %}
      <input type="hidden" name="form_type" value="{{ selected_form_type.id }}">
      {% for field in form %}
      <div class="mb-3 row align-items-center">
        {% if field|is_checkbox %}
        <label for="{{ field.id_for_label }}" class="col-form-label col-sm-2">{{ field.label }}</label>
        <div class="col-sm-10 d-flex align-items-center">
          {{ field|add_class:"form-check-input" }}
        </div>
        {% elif field|is_checkbox_select_multiple %}
        <label class="col-form-label col-sm-2">{{ field.label }}</label>
        <div class="col-sm-10">
          <div class="row">
            {% for subfield in field %}
            <div class="col-sm-4">
              <div class="form-check">
                {{ subfield }}
                <label class="form-check-label" for="{{ subfield.id_for_label }}"></label>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% else %}
        <label for="{{ field.id_for_label }}" class="col-form-label col-sm-2">{{ field.label }}</label>
        <div class="col-sm-10">{{ field|add_class:"form-control" }}</div>
        {% endif %}
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-submit">Wyślij</button>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}