
{% extends "base.html" %} {% block content %} {% load static %}
<div class="container mt-5">
  <div class="text-center mb-5 welcome">
    <h2>Witamy w Ozdobione</h2>
    <p class="lead">
      Profesjonalne dekoracje, które nadadzą każdej imprezie wyjątkowy
      charakter.
    </p>
    <a href="/form/" class="btn btn-primary btn-lg btn-contact-us mt-3"
      >Skontaktuj się z nami</a
    >
  </div>
  <div class="row">
    <div class="col-md-4 text-center">
      <a href="/gallery/photos/?tags=Wesele" class="custom-link">
        <div class="hover-effect">
          <img
            {% comment %} src="{% static 'images/wedding.jpg' %}" {% endcomment %}
            src="https://placehold.co/600x1200"
            class="img-fluid mb-3"
            alt="Dekoracje weselne"
          />
        </div>
        <h3>Dekoracje weselne</h3>
      </a>
      <p>
        Tworzymy niezapomniane aranżacje na Twój wyjątkowy dzień. Zadbamy o
        każdy detal, aby Twoje wesele było magiczne.
      </p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/gallery/photos/?tags=Urodziny" class="custom-link">
        <div class="hover-effect">
          <img
            {% comment %} src="{% static 'images/birthday.jpg' %}" {% endcomment %}
            src="https://placehold.co/600x1200"
            class="img-fluid mb-3"
            alt="Dekoracje urodzinowe"
          />
        </div>
        <h3>Dekoracje urodzinowe</h3>
      </a>
      <p>
        Organizujemy dekoracje na urodziny, które zachwycą Twoich gości i
        sprawią, że ten dzień będzie niezapomniany.
      </p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/gallery/photos/?tags=Chrzciny" class="custom-link">
        <div class="hover-effect">
          <img
            {% comment %} src="{% static 'images/christening.jpg' %}" {% endcomment %}
            src="https://placehold.co/600x1200"
            class="img-fluid mb-3"
            alt="Dekoracje na chrzciny"
          />
        </div>
        <h3>Dekoracje na chrzciny</h3>
      </a>
      <p>
        Specjalizujemy się w dekoracjach na chrzciny, tworząc piękne i
        eleganckie aranżacje na ten wyjątkowy dzień.
      </p>
    </div>
  </div>

  <div class="container mt-5 how-it-works">
    <div class="text-center mb-5">
      <h2>Jak to działa?</h2>
      <p class="lead">
        Poznaj kroki, które podejmujemy, aby Twoje wydarzenie było wyjątkowe.
      </p>
    </div>
    <div class="row">
      <div class="col-md-4 text-center d-flex align-items-stretch">
        <div class="step">
          <div class="step-number">1</div>
          <h3>Konsultacja</h3>
          <p>Rozmawiamy z Tobą, aby zrozumieć Twoje potrzeby i oczekiwania.</p>
        </div>
      </div>
      <div class="col-md-4 text-center d-flex align-items-stretch">
        <div class="step">
          <div class="step-number">2</div>
          <h3>Planowanie</h3>
          <p>Tworzymy plan dekoracji, który spełnia Twoje wymagania.</p>
        </div>
      </div>
      <div class="col-md-4 text-center d-flex align-items-stretch">
        <div class="step">
          <div class="step-number">3</div>
          <h3>Realizacja</h3>
          <p>
            Realizujemy plan, dbając o każdy detal, aby Twoje wydarzenie było
            niezapomniane.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
